[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
requests-html = "*"
pyppeteer = "*"
peewee = "*"
gunicorn = "*"

[dev-packages]
jupyter = "*"
pylint = "*"
locust = "*"

[requires]
python_version = "3.8"

[packages.fastapi]
extras = [ "all",]
