{% extends "base.html" %}


{% block main %}

<div class="row justify-content-center text-center mt-4">
    <h3>Remote Jobs</h3>
    <p class="text-secondary-emphasis">A small useful extendable remote jobs aggregator which helps you keep in one
        place your
        job
        search.</p>
</div>


<div class="d-flex justify-content-between">

    <div class="mt-5 d-flex align-items-baseline">
        <button type="button" class="btn btn-outline-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4" />
            </svg>
            Scrape jobs
        </button>
        <p class="ms-2">Latest scrape action: <i>2024-03-05</i></p>
    </div>

    <div class="mt-5 d-flex align-items-baseline">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M10.5 1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4H1.5a.5.5 0 0 1 0-1H10V1.5a.5.5 0 0 1 .5-.5M12 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-6.5 2A.5.5 0 0 1 6 6v1.5h8.5a.5.5 0 0 1 0 1H6V10a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5M1 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 1 8m9.5 2a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V13H1.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5m1.5 2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5" />
            </svg>
        </button>
    </div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Scraping Filters</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>

                    <div class="form-floating mb-4">
                        <textarea class="form-control" id="floatingTextarea" style="height: 250px"></textarea>
                        <label for="floatingTextarea">Exclude if keywords found:</label>
                    </div>

                    <div class="form-floating">
                        <textarea class="form-control" id="floatingTextarea" aria-describedby="keyword-help-text"
                            style="height: 250px"></textarea>
                        <label for="floatingTextarea">Include if keywords found:</label>
                    </div>

                    <p id="keyword-help-text" class="form-text">
                        Type the keywords you want separated by comma (like: python, javascript, go)
                    </p>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="row mt-5">

    <div class="btn-group">
        <a href="/remote-jobs/new"
            class="btn btn-outline-secondary {% if active_page == 'new' %} active aria-current='page' {% endif %}">
            New
        </a>
        <a href="/remote-jobs/applied"
            class="btn btn-outline-secondary {% if active_page == 'applied' %} active aria-current='page' {% endif %}">
            Applied
        </a>
        <a href="/remote-jobs/ignored"
            class="btn btn-outline-secondary {% if active_page == 'ignored' %} active aria-current='page' {% endif %}">
            Ignored
        </a>
    </div>

</div>


<div class="mt-5">

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Software Engineer</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Luftansa</h6>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quam natus temporibus veritatis placeat
                aut ducimus suscipit minima? Earum nostrum voluptas, quidem soluta praesentium ipsum provident
                voluptates itaque inventore quaerat nulla veniam excepturi ipsam harum illum, quo eos? Vero voluptates
                deleniti quaerat vel ipsa numquam nemo accusamus unde officiis, possimus dicta ab nobis molestiae
                dolores voluptas cumque, fuga, assumenda ullam dolore! Doloribus magnam officiis et ipsum ipsam nemo
                enim, minus vel quam ducimus ea fugit cum ad, ratione repudiandae necessitatibus voluptates, inventore
                adipisci reiciendis perferendis excepturi? Qui, reiciendis deleniti, ratione, fugit tenetur mollitia
                illo ad error accusantium sint assumenda autem.
            </p>
            <a href="#" target="_blank" class="btn btn-primary card-link" role="button">View job</a>
            <a href="#" target="_blank" class="btn btn-success card-link" role="button">I've applied</a>
            <a href="#" target="_blank" class="btn btn-outline-secondary card-link" role="button">Ignore</a>
        </div>
    </div>

</div>


{% endblock main %}