{% extends "base.html" %}


{% block jobs %}

{% for job in jobs %}
<article x-data="{applied: {{job.applied}}, ignored: {{job.ignored}}}" id="{{ job.jobid }}" class="job-article">
    <h2 :style="{ color: applied | ignored ? 'grey': ''}">{{ job.title }}</h2>
    <div role="group">
        <a :class="applied | ignored ? 'secondary': 'primary'" x-text="applied | ignored ? 'Viewed': 'View job'"
            href="{{ job.url }}" target="_blank" class="primary" role="button">
            View job
        </a>
        <a @click="async () => applied = await applyiedToJob('{{ job.jobid }}')"
            x-text="applied ? 'Applied': 'I\'ve applied'" :class="applied ? 'outline secondary': 'outline'"
            class="outline" role="button">
            I've applied
        </a>
        <a @click="async () => ignored = await ignoreThisJob('{{ job.jobid }}')" x-text="ignored ? 'Ignored': 'Ignore'"
            :class="ignored ? 'outline secondary': 'outline'" class="outline" role="button">
            Ignore
        </a>
    </div>
</article>
{% else %}
<div class="flex-col-items-center">
    <p>No {{ jobType }} jobs available</p>
</div>
{% endfor %}


<script>

    async function applyiedToJob(jobid) {
        const url = '/api/applied/' + jobid
        const response = await fetch(url, { method: "POST" })
        const data = await response.json()
        return data.status
    }

    async function ignoreThisJob(jobid) {
        const url = '/api/ignored/' + jobid
        const response = await fetch(url, { method: "POST" })
        const data = await response.json()
        return data.status
    }

</script>


{% endblock %}